html {
    font-family: sans-serif;
    background-color: black;
    color: white;
}

body {
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    border: 1px solid white;
}

#container {
    max-width: 600px;
    margin: 40px auto;
}

#main {
    display: flex;
    justify-content: space-evenly;
}

#other {
    width: 200px;
}

#other ul {
    padding: 0px 35px;
}

#other li {
    margin: 10px 0px;
}

#profilePicture {
    border: 2px solid white;
    margin-bottom: 10px;
}

.content {
    padding: 10px;
    border: 2px solid white;
}

.content p {
    margin: 4px 0px;
}

#footer {
    margin: 20px 0px;
    text-align: center;
}

#additional {
    margin: 10px 0px;
    text-align: center;
}

#additional a {
    color: grey;
    font-size: small;
}

.webButton:hover {
    filter: brightness(60%);
}