html, body {
    font-family: MS Gothic;
    background-color: #000;
    color: #fff;
    margin: 0;
}

hr {
    border: #fff solid 1px;
}

h1, h2, h3, h4, h5, h6 {
    border-bottom: #fff solid 2px;
    padding-bottom: 3px;
}

a {
    color: #fff;
    transition: 0.3s ease color;
}

a:hover {
    color: #808080;
}

#container {
    width: 782px;
    margin: 25px auto;
}

.links {
    width: 500px;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}